.container {
  display: flex;
  gap: 30px;
}

.imgContainer {
  flex: 0.9;
  position: relative;
  height: calc(100vh - 200px);
}

.textContainer {
  flex: 2;
  flex-direction: column;
  height: calc(100vh - 200px);
}

.title {
  display: flex;
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: -20px;
}

.detail {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.content > p > span {
  color: var(--textGray);
}
