.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;
}

.top{
    display: flex;
}


.imgContainer{
    width: 200px;
    height: 200px;
    position: relative;
}

.img{
    object-fit: cover;

}



.logbook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin-left: 15px;
    font-size: 24px;
    transform:rotate(270deg) ;
}

.logbook span{
    margin-top: -15px;
}


.trip{
    font-size: 24px;
    margin-bottom: 20px;
}

.desc{
    width: 80%;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 15px;
    color: gray;
}

