.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.crewMember {
  width: calc(33.33% - 10px);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .crewMember {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .crewMember {
    width: 100%;
  }
}
